<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Images</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
		</dict>
	</array>
	<key>GEMINI_API_KEY</key>
	<string>$(GEMINI_API_KEY)</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Biosight, Apple Health verilerini (kalp hızı, uyku, adım sayısı vb.) tahlil sonuçlarınızla birlikte takip edebilmek için okur. Verileriniz cihazınızda kalır, dışarıya gönderilmez.</string>
	<key>NSCameraUsageDescription</key>
	<string>Biosight, tahlil belgelerinizi taramak için kamerayı kullanır. Çekilen görüntüler yalnızca belge okuma amacıyla işlenir.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
