<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VitalTrace.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3.0.9</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>456B0BE9F78072FBE18E49153D72E24C1315CBD0</string>
				<key>dateExpires</key>
				<string>12.04.2027</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G7Y47M9B73.dev.spacechild.VitalTrace</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>G7Y47M9B73</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>VitalTrace.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d124a647-e5e7-4351-a5c9-93a2917a8df3</string>
				<key>dateExpires</key>
				<string>12.04.2027</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: dev.spacechild.VitalTrace</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G7Y47M9B73</string>
				<key>name</key>
				<string>Dagkan Bayramoglu</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
